{% extends 'basedashboard.html' %}
{% block title %}Campus Support{% endblock %}

{% block content %}
<div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="position-sticky pt-3">
                    <div class="text-center mb-4">
                        <img src="static/images/top1.png" alt="School Logo" class="img-fluid rounded-circle mb-3" width="200" >
                        <h5>Methodist University</h5>
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('dashboard') }}">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('complaint_dash') }}">
                                Complaint
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for('change_programme') }}">
                                Change Programme
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('deferment') }}">
                                Deferment
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('resit') }}">
                                Resit
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('school_fees') }}">
                                School Fees
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('general_request') }}">
                                General Request
                            </a>
                        </li>
                        <li class="nav-item mt-auto">
                            <a class="nav-link text-danger" href="{{ url_for('home_page') }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                </svg>
                                Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-content">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-primary">
                    <h1 class="h2">Change Programme</h1>
                </div>

                <div class="row">
                   <div class="accordion accordion-flush" id="formAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button bg-light text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Change Programmme: Benedicta Asamoah Douah
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#formAccordion">
                            <div class="accordion-body bg-light">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Surname</label>
                                        <p>Asamoah</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="firstName" class="form-label">First Name</label>
                                        <p>Benedicta</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="otherNames" class="form-label">Other Names</label>
                                        <p>Douah</p>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="studentId" class="form-label">Student ID</label>
                                        <p>INT/19/01/8106</p>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="programme" class="form-label">Programme</label>
                                        <p>Computer Science</p>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="level" class="form-label">Level</label>
                                        <p>200</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="date" class="form-label">Date</label>
                                        <p>20/06/2024</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="phoneNumber" class="form-label">Phone Number</label>
                                        <p>0503432413</p>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="department" class="form-label">Department</label>
                                        <p>Computer Science and Information Technology</p>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="faculty" class="form-label">Faculty</label>
                                        <p>Engineering</p>
                                    </div>
                                </div>


                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="preferred_programme" class="form-label">Year Paper Was Taken</label>
                                        <p>Nursing</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}