{% extends 'basedashboard.html' %}
{% block title %}Campus Support{% endblock %}
            <!-- Sidebar -->
            {% block content %}
                <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="position-sticky pt-3">
                    <div class="text-center mb-4">
                        <img src="static/images/top1.png" alt="School Logo" class="img-fluid rounded-circle mb-3" width="200" >
                        <h5>Methodist University</h5>
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for('dashboard') }}">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('complaint_dash') }}">
                                Complaint
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('change_programme') }}">
                                Change Programme
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('deferment') }}">
                                Deferment
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('resit') }}">
                                Resit
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('school_fees') }}">
                                School Fees
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('general_request') }}">
                                General Request
                            </a>
                        </li>
                        <li class="nav-item mt-auto">
                            <a class="nav-link text-danger" href="{{ url_for('home_page') }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                </svg>
                                Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-content">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-primary">
                    <h1 class="h2">Dashboard</h1>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card border-primary">
                            <div class="card-body">
                                <h5 class="card-title text-primary">Admin Profile</h5>
                                <img src="static/images/profile.jpg" alt="Admin Avatar" class="img-fluid rounded-circle mb-3" width="84" >
                                <p class="card-text">Name: John Sarpong Amoah</p>
                                <p class="card-text">Email: john.sarp@methodist.com</p>
                                <p class="card-text">Role: Administrator</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card border-primary">
                            <div class="card-body">
                                <h5 class="card-title text-primary">Recent Activities</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item list-group-item-action">Complaint submitted by Student A</li>
                                    <li class="list-group-item list-group-item-action">Programme change request by Student B</li>
                                    <li class="list-group-item list-group-item-action">Deferment application by Student C</li>
                                    <li class="list-group-item list-group-item-action">Resit request by Student D</li>
                                    <li class="list-group-item list-group-item-action">School fees inquiry by Student E</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}

